# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/.idea


/resultreport/2019-05-18-21 46 40resultreport.hyml
